@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: #ffff;
    color: #000000;
}

/* Estilos para o cabeçalho */
header {
    background: #33B667;
    color: white;
    height: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8vw;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 7%;
    font-size: 2vw;
    gap: 10vh;
}

/* Estilo para a tabela com os valores */
.tableRoud {
    border-radius: 10px;
    border: 1px solid #DDDDDD;
    width: 23vw;
    height: 50vh;
    display: flex;
    flex-direction: column;
    gap: 2vh;
}

/* Paginação */
.page {
    display: flex;
    flex-direction: row;
    align-self: center;
    align-items: center;
    justify-content: space-between;
    margin-top: 7%;
    width: 20vw;
}

/* Titulo com a rodada */
.titleRoud {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 0.6vw;
}

.titleRoud h2 {
    font-weight: lighter;
}

.titleRoud #rodada-atual {
    font-weight: bold;
}

/* Estilos para o botão de paginação */
button {
    background: #33B667;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 2vw;
    height: 2vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Container com a rodada */
.containerRodada {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5vh;
    font-weight: bold;
}


.versusImage {
    width: 20px;  
    height: 20px; 
    margin: 0 10px; 
}

.escudo {
    width: 25%;
}

/* Barra horizontal curta entre os jogos */
.barraHorizontalCurta {
    height: 2px;               
    width: 20vw;                
    background-color:#DDDDDD;   
    margin: 2vh 0;
}

.jogo {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 20vw;
    justify-content: space-between;
}

.containerTimeScore {
    display: flex;
    align-items: center;
    gap: 0.5vw;
    font-size: 1vw;
}